@media screen and (min-width: 500px) and (max-width: 970px) {
  .header_menu {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header_menu {
    display: none;
  }
  .address {
    display: none;
  }
}
body {
  min-width: 1520px;
  max-width: 1520px;
}
body header {
  height: 65px;
  padding: 0 15px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}
body header.on {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
}
body header.active {
  animation: active 2s ;
  transform-origin: center top;
}
@keyframes active {
  0% {
    transform: rotateX(90deg);
    opacity: 0.3;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 0.9;
  }
}
body header .header_pic {
  width: 240px;
  height: 43px;
  margin: auto 0;
  background-image: url('../img/header/logo@2x.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
body header .address {
  font-weight: bolder;
}
body header .address .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto 0;
  background-image: url('../img/header/citypoint.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
body header .address .city:hover {
  color: red;
}
body header .header_menu .nemu_container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
body header .header_menu .nemu_container .menu_list {
  margin-left: 20px;
}
body header .header_menu .nemu_container .menu_list.on:hover {
  color: red;
}
body header .header_menu .nemu_container .menu_li {
  margin-left: 20px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
  text-align: center;
}
body .carousel_container {
  height: 420px;
  position: relative;
}
body .carousel_container .carousel {
  height: 100%;
}
body .carousel_container .carousel .banner {
  height: 100%;
}
body .carousel_container .carousel .banner .banner1 {
  height: 100%;
  background-image: url("../img/header/banner1.jpg");
  background-position: center;
}
body .carousel_container .carousel .banner .banner2 {
  height: 100%;
  background-image: url("../img/header/banner2.jpg");
  background-position: center;
}
body .carousel_container .carousel .banner .banner3 {
  height: 100%;
  background-image: url("../img/header/banner3.jpg");
  background-position: center;
}
body .carousel_container .carousel .carousel_nav .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #7e8c8d;
}
body .carousel_container .carousel .carousel_nav .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
}
body .carousel_container .menu_daowei {
  position: absolute;
  top: 0;
  left: 10%;
  width: 180px;
  height: 100%;
  z-index: 200;
}
body .carousel_container .menu_daowei .menu_second {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.4);
}
body .carousel_container .menu_daowei .menu_second .menu_list {
  padding: 0 20px;
  width: 100%;
  height: 42px;
}
body .carousel_container .menu_daowei .menu_second .menu_list:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_title {
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_title .icon {
  font-weight: bold;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 15px;
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_title .icon .iconfont.on {
  display: none;
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_title .sanjiao {
  display: none;
  width: 0;
  height: 0;
  border-width: 6px ;
  border-style: solid;
  border-color: transparent white transparent transparent;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_title .sanjiao.on {
  display: inline-block;
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_items {
  position: absolute;
  top: 0;
  right: -160px;
  display: none;
  width: 160px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.8);
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_items.on {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_items .memu_list {
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
}
body .carousel_container .menu_daowei .menu_second .menu_list .menu_items .memu_list:hover {
  color: red;
}
body .content {
  margin: 0 auto;
  padding: 50px 0 0;
  text-align: center;
  background-color: white;
}
body .content:nth-child(1) {
  background-color: yellow;
}
body .content .server {
  margin: 0px auto 40px;
}
body .content .server .sever_title {
  color: #3d3838;
  font-weight: 800;
  font-size: 28px;
  font-family: "Microsoft YaHei";
}
body .content .server .server_item {
  font-family: "幼圆";
}
body .content .server .server_item .server_container {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex: 1;
}
body .content .server .server_item .server_container .server {
  width: 88px;
  display: block;
  font-size: 22px;
  color: #3d3838;
  margin: 15px 10px ;
}
body .content .server .server_project {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
body .content .server .server_project .project {
  float: left;
  padding: 10px;
  width: 230px;
  border: 1px solid #eaeaea;
  margin: 0 5px;
  background: #fff;
  cursor: pointer;
  height: 345px;
}
body .content .server .server_project .project:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
body .content .server .server_project .project .project_img {
  width: 210px;
  height: 210px;
}
body .content .server .server_project .project .project_title {
  font-size: 16px;
  padding: 10px 0 0;
  font-weight: 800;
  color: #000;
  height: 28px;
  overflow: hidden;
  width: 101%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body .content .server .server_project .project .project_content {
  color: #929292;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 18px;
  height: 58px;
}
body .content .server .server_project .project .project_price {
  height: 20px;
}
body .content .server .server_project .project .project_price > span {
  float: left;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  color: #fb474f;
}
body .content .server .server_project .project .project_price .more {
  float: right;
  padding: 0;
  width: 76px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  background: #fb474f;
  border-radius: 5px;
}
body footer .footer_top .footer_des {
  background-color: white;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}
body footer .footer_top .footer_des .title {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
  margin: 20px 0 10px;
}
body footer .footer_top .footer_des .title .red {
  color: red;
  font-weight: 800;
}
body footer .footer_top .footer_des .note {
  font-size: 22px;
  color: #3d3838;
}
body footer .footer_top .footer_des .lists {
  width: 100%;
  padding-top: 10px;
  background: #fff;
  height: 66px;
  line-height: 66px;
  font-family: "微软雅黑";
  text-align: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
body footer .footer_top .footer_des .lists list {
  margin: 0 10px;
}
body footer .footer_top dl {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}
body footer .footer_top dl dt {
  float: left;
  font-family: " 微软雅黑";
  font-size: 18px;
  font-weight: 700;
}
body footer .footer_top dl dd {
  margin-left: 30px;
  width: 90%;
  line-height: 30px;
  float: left;
}
body footer .footer_top dl dd a {
  width: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #898989;
  display: inline-block;
  width: 9%;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
  font-family: "微软雅黑";
}
body footer .footer_bottom {
  height: 250px;
  padding-top: 50px;
  margin: 0 auto;
  width: 90%;
  background-color: white;
}
body footer .footer_bottom > p {
  text-align: left;
  font-weight: bold;
  display: inline-block;
  color: #1d1515;
  font-size: 18px;
}
body footer .footer_bottom .partners {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  white-space: nowrap;
}
body footer .footer_bottom .partners .partner {
  float: left;
  width: 9%;
  padding: 3px;
}
body footer .footer_bottom .partners .partner > img {
  width: 90%;
}
